body {
      background: linear-gradient(to bottom, rgb(224, 208, 208), rgba(239, 231, 231, 0.526), rgb(197, 223, 197));
      min-height: 100vh;
      background-attachment: fixed;
    }
    
#mainNavbar {
  transition: top 0.35s ease-in-out;
}

    .navbar.sticky-top {
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 1030;
}

  .main{
    text-align: center;
  }
  
.card {
  background: rgba(255, 255, 255, 0.4); /* light glass effect card */
  backdrop-filter: blur(3px);
  border: none;
  border-radius: 15px;
   height: 100%;              
  display: flex;
  flex-direction: column;
}

.card-title,
.card-text {
  background: transparent !important;
}


.card-img-top {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.card-body {
  flex: 1;                   /* body full expand */
  background: transparent !important;
  display: flex;
  flex-direction: column;
}

.card-body .btn {
  margin-top: auto;          /* button bottom पर जाएगा */
}

.carousel-item {
  height: 60vh;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
   transition: transform 850ms ease;
}
.btn {
  width: auto;
}
.mango-text {
  background: linear-gradient(90deg,rgb(168, 8, 16), rgb(126, 126, 4), rgb(37, 75, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.hero-slide {
  height: 55vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#products .card {
  border-radius: 12px;
}


.hero-slide:nth-child(1) {
  background-image: url('images/hero1.jpg');
}

.hero-slide:nth-child(2) {
  background-image: url('images/hero2.jpg');
}


.hero-content h1 {
  font-size: 2.2rem;
}
@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 1.7rem;
  }
}


@media (max-width: 576px) {
  h1, h2 {
    font-size: 1.8rem;
  }
  .lead {
    font-size: 1rem;
  }
   .card img {
    height: 200px;
    object-fit: cover;
  }
}





/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Popup Box */
.popup-box {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  border-radius: 12px;
  /* animation: popupFade 0.4s ease; */
  text-align: center;
}

@keyframes popupFade {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* Call Button */
.call-btn {
  display: inline-block;
  background: green;
  color: white;
  padding: 12px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

/* Close Button */
.close-btn {
  width: 100%;
  background: red;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

