body {
      background: linear-gradient(to bottom, rgb(224, 208, 208), rgba(239, 231, 231, 0.526), rgb(197, 223, 197));
      min-height: 100vh;
      background-attachment: fixed;
    }

  .main1{
    text-align: center;
  }
  
.card {
  background: rgba(255, 255, 255, 0.4); /* light glass effect card */
  backdrop-filter: blur(3px);
  border: none;
  border-radius: 15px;
}

.card-body {
  background: transparent !important; /* title + text area transparent */
}

.card-title,
.card-text {
  background: transparent !important;
}

.card {
  height: 100%;              
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3px);
  border-radius: 15px;
  border: none;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.card-body {
  flex: 1;                   /* body full expand */
  background: transparent !important;
  display: flex;
  flex-direction: column;
}

.card-title,
.card-text {
  background: transparent !important;
}

.card-body .btn {
  margin-top: auto;          /* button bottom पर जाएगा */
}

.carousel-item {
  height: 60vh;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 576px) {
  h1, h2 {
    font-size: 1.8rem;
  }
  .lead {
    font-size: 1rem;
  }
}
.carousel-item {
  transition: transform 850ms ease;
}
.mango-text {
  background: linear-gradient(90deg,rgb(168, 8, 16), rgb(126, 126, 4), rgb(37, 75, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

